@import  "abstracts/functions";
@import  "abstracts/mixins";
@import  "abstracts/variables";

@import  "base/base";
@import  "base/animations";
@import  "base/typography";
@import  "base/utilities";

@import "pages/home";
@import "components/button";
@import "layout/header";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  //value of 1 rem unit
  font-size: 62.5%;
}
body {
  box-sizing: border-box;
}
